{% extends "geosafe/headless/settings/min-needs-mapping-base.json.j2" %}

{% block minimum_needs_mapping %}
{
    "en": "minimum_needs/Moz_minimum_needs_en.json",
    "en_US": "minimum_needs/Moz_minimum_needs_en.json",
    "pt": "minimum_needs/Moz_minimum_needs_pt.json"
}
{% endblock %}
